{% extends 'base.html' %}
{% block content %}
  <div class="content">
    <div class="row">
        <div class="left">
            <div class="card block">
                <div class="sub-card">
                    <h2>{{ user.name }}</h2>
                    <p>{{ user.address }}</p>
                    <p>{{ user.experience }} Years</p>
                    
                    <a id="pendingLink" href="https://www.google.com">Edit Profile></a>
                </div>
                <div class="sub-card">
                    <img src="{{ url_for('static', filename='user.png') }}" alt="profile" 
                    style="height: 100%; border-radius: 10px; margin-left: 50%;">
                    
                </div>
            </div>

            
            <div class="card-bottom-left block">
                <h3><span style="font-size: 32px;">Today's Services</span></h3>
                <div style="height: 80%;">
                    
                    <!-- TODO : Implement Loop to display list of service requests -->

                </div>
            </div>

        </div>
        <div class="right">
            <div class="card-top-right block">
                <h3>
                    <span style="font-size: 32px; color:#bf4800;">Latest Updates</span> 
                    <button type="button" onclick="refresh_notice()" class="btn " style="border-radius: 10px; background-color: #bf4800;"><i style="font-size:24px" class="fa">&#xf021;</i></button>
                </h3>
                {% for i in updates %}
                <ul>
                    <li><h6>{{ i['title'] }}</h6> ~ {{ i['date'] }}</li>
                </ul>    
                {% endfor %}

            </div>


            <div class="card-bottom-right block">
                <h3><span style="font-size: 32px;">Schedule</span></h3>
                
                <div class="classes">
                    <table>
                        <th>Today's <span style="color: var(--orange);">{{ date }}</span> </th>
                        <tr >
                            <td style="font-weight: 600;">Time</td>
                            <td style="font-weight: 600;">Class</td>
                            <td style="font-weight: 600;">Instructor</td>
                        </tr>
                    
                        {% for class in class_list %}
                        <tr>
                            <td>{{ class['time'].strftime('%H:%M') }}</td>
                            <td>{{ class['class_name'] }}</td>
                            <td>{{ class['instructor'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                    
                
            </div>
        </div>
    </div>


            
    </div>
    
    <!-- Right  -->
   

{% endblock %}


